@import './base.css';
@import '../../node_modules/tailwindcss/base.css';
@import '../../node_modules/tailwindcss/components';
@import '../../node_modules/tailwindcss/utilities';

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: url('./img/color-sharp.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; 
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #app {
    display:flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}




